main {
    min-height: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 0 0 10px 10px;
}

main h1, main h2{
    display: inline-block;
    font-family: Android, serif;
    padding-left: 4px 3px;
    margin-left: 10px;
    color: var(--green1);
}

main h1 {
    font-size: 30px;
}

main h2 {
    font-size: 17px;
    padding: 3px;
    border-radius: 2px;
    display: block;
    background-image: linear-gradient(to right, rgba(25, 206, 25, 0.795) 10%, white 90%);
    margin-top: 20px;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 30px;
}


main img {
    width: 100%;
}

#img-centro{
    display: flex;
    justify-content: center;
    width: 100%;
}

#android-homem {
    width: 50%;
    display: block;
    margin: auto;
}


#android-video {
    background-color: var(--green2);
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#android-video > iframe{
    width: 92%;
    height: 92%;
}


.link {
    text-decoration: none;
}

.link-extra {
    background-color: rgba(29, 219, 29, 0.664);
    padding: 4px;
}

.link-extra::after {
    content: ' LI';

}

@media (max-width: 375px) {

    main {
        width: 100%;
    }
    #img-centro{
        content: '<img src="../imagens/dan-droids-pq.png">';
    }    

    #android-video {
        background-color: var(--green2);
    }
} 

