main {
    min-height: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 0 0 10px 10px;
}

main h1, main h2{
    display: inline-block;
    font-family: Android, serif;
    padding-left: 4px 3px;
    margin-left: 10px;
    color: var(--green1);
}

main h1 {
    font-size: 1.8em;
    color: var(--green5);
    font-weight: normal;
}

main h2 {
    font-size: 1.3em;
    /* font-weight: normal; */
    padding: 3px 0 3px 5px;
    border-radius: 2px;
    display: block;
    background-image: linear-gradient(to right, var(--green1), transparent);
    color: var(--green4);
    margin-top: 30px;
    margin-bottom: 17px;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em !important;
    text-align: justify;
    text-indent: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 2em;

    margin: 15px 0;

}

main strong {
    color: var(--green4);
    font-weight: bolder;

    border-radius: 2px;
}

main a {
    color: var(--green5);
    background-color: var(--green1);
    padding: 2px 4px;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
    color: var(--green4);
}

main img {
    width: 100%;
}

#img-centro{
    display: flex;
    justify-content: center;
    width: 100%;
}

#android-homem {
    max-width: 350px;
    display: block;
    margin: auto;
}


#android-video {
    background-color: var(--green5);
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.356);
}

#android-video > iframe{
    width: 92%;
    height: 92%;
}


.link {
    text-decoration: none;
}

.link-extra {
    background-color: rgba(29, 219, 29, 0.664);
    padding: 4px;
}

.link-extra::after {
    content: ' LI';

}

@media (max-width: 375px) {

    main {
        width: 100%;
    }
    #img-centro{
        content: '<img src="../imagens/dan-droids-pq.png">';
    }    

    #android-video {
        background-color: var(--green2);
    }

    #android-video {
        width: 99%;
        height: 99%;
    }
} 

